livekit-agents
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-silero
python-dotenv
composio-openai
fastapi[standard]
# psutil==5.9.0
livekit-plugins-google
supabase>=2.7.3
livekit-plugins-elevenlabs
openai
pinecone[grpc]
